<nav class="navbar navbar-expand-lg font-beige fixed-top">
  <ul class="navbar-nav d-flex justify-content-between align-items-center w-100 container">
    <div class="d-flex">
      <li class="nav-item ">
        <a routerLink="/" routerActive="nav-link font-beige active-link" class="font-beige">Home</a>
      </li>

      <li class="nav-item ml-4">
        <a routerLink="/about" routerActive="nav-link font-beige" class="font-beige">About</a>
      </li>

      <li class="nav-item ml-4">
        <a routerLink="/works" routerActive="nav-link font-beige" class="font-beige">Works</a>
      </li>

      <li class="nav-item ml-4">
        <a routerLink="/contact" routerActive="nav-link font-beige" class="font-beige">Contact</a>
      </li>


    </div>

    <div class="d-flex align-items-center">


      <!-- <li class="cv text-center w-100 h-100"><a href="" class="font-beige" title="Download CV">CV</a></li> -->
    </div>
  </ul>
</nav>
